agenda {
    font-family: sans-serif;
    display: block;
    width: 100%;
    background: #ABDCFF;
}

contacto {
    display: table;
    border-spacing: 10px;
    border: #CFD7D7 1px solid;
    text-align: left;
    background-color: #B6CBCD;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

nombre, apellidos, direccion, codigoPostal,correoE,estado, numeroCelular, numeroTelefono {
    margin: 2px;
}