<!-- Creado por: Alberto Nieto Rocha y Arantxa Garayzar Cristerna
    UEA: integración de sistemas
    Academico: Christian Sanchez Sanchez -->
    {% extends "plantilla.html" %}

    {% block content %}
    <h1>Eliminar Contacto</h1>
    <form>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nombre" name="fname">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Apellidos" name="lname">
            </div>
            <br>
            <button type="submit" class="btn btn-danger ">Eliminar</button>
        </div>
    </form>
    {% endblock %}
    