<!-- Creado por: Alberto Nieto Rocha y Arantxa Garayzar Cristerna
    UEA: integración de sistemas
    Academico: Christian Sanchez Sanchez -->

{% extends "plantilla.html" %}


{% block content %}
<h2>¡Bienvenido a la agenda!</h2>
<p>Proyecto para la UEA de integración de sistemas, impartida por Christian Sanchez Sanchez</p>

{% endblock %}
