<!-- Creado por: Alberto Nieto Rocha y Arantxa Garayzar Cristerna
    UEA: integración de sistemas
    Academico: Christian Sanchez Sanchez -->
    <html lang="es">
        <head>
            <meta http-equiv="Content-Type" content="text/html"; charset="ISO-8859-1">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <title>Agenda</title>
        </head>
        <body>
            <!-- Barra de navegación creada apartir de bootsrap 4, se hicieron algunas adaptaciones para nuestros intereses -->
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Agenda</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('inicio') }}">Inicio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('agregar') }}">Registro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('elimina') }}">Eliminar</a>
                            </li>
                        </ul>
                    </div>
            </nav>
        <div class="container p-4">
            <!-- Bloque donde se estar mostrando el contenido establecido en las otras plantillas -->
            {% block content %}
            {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </body>
    </html>